body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.User {
  position: relative;
  background: lightgreen;
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  margin-top: 50px;
  margin-right: 10px;
  font-size: 40px
}

.StatusList {
  background: #eee;
  padding: 5px;
  margin: 5px 0;
}

.Tooltip {
  position: absolute;
  top: -10px;
  min-width: 200px;
  background: #666;
  color: white;
  text-align: center;
  font-size: 20px
}
